.agency-mark {
  position: absolute;
  display: inline-block;
  text-transform: uppercase;

  font-family: 'HelveticaRegular';
  letter-spacing: 1px;
  font-size: 12px;
  color: black;

  transform: rotate(-90deg);
  margin-left: -49px;
  margin-top: -60px;
}

.agency-mark--white {
  color: white;
}

// hide on mobile size
@media screen and (max-width: $tablet-size) {
  .agency-mark--mobile-hide {
    display: none;
  }
}
