.floating-contacts {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-top: -65px;

  top: 50%;
  right: 0;
}

.floating-contacts__item {
  position: relative;
  display: block;
  line-height: 10px;
  margin: 3px 0;
  width: 30px;
}

.floating-contacts__item:hover {
  opacity: 0.7;
}

.floating-contacts__item img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: $tablet-size) {
  .floating-contacts {
    display: none;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .floating-contacts--mobile {
    position: relative;
    display: block;
    vertical-align: middle;
    text-align: center;
    align-items: top;
    margin: 30px 0 10px;

    height: 60px;
    width: 100%;
    top: auto;
  }

  .floating-contacts--mobile .floating-contacts__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
    margin: 15px;
    width: 30px;
  }
}
