
.large-title {
  position: relative;
  display: inline-block;

  border-bottom-color: black;

  font-family: 'HelveticaBlack';
  font-size: 56px;
  color: black;
  height: 72px;
}

.large-title--white {
  border-bottom-color: white;
  color: white;
}

.large-title--top-offset {
  padding-top: 60px;
}

.large-title__first {
  display: inline-block;
  padding-bottom: 12px;

  border-bottom-style: solid;
  border-bottom-width: 10px;

  line-height: 49px;
  height: 41px;
}

.large-title__first--thin {
  letter-spacing: -3px;
  text-indent: -2px;
}

@media screen and (max-width: $laptop-size) {
  .large-title {
    line-height: 68px;
    height: auto;
  }
}

@media screen and (max-width: $tablet-size) {
  .large-title {
    font-size: 42px;
  }
  .large-title__first {
    padding-bottom: 4px;
    height: 37px;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .large-title {
    line-height: 52px;
  }
}

@media screen and (max-width: $phone-small-size) {
  .large-title {
    font-size: 40px;
  }
}

@media screen and (max-width: $phone-tiny-size) {
  .large-title {
    font-size: 35px;
  }
}
