.links {
  // word-break: break-all;
  display: inline-block;
  font-size: 16px;
  color: black;
  opacity: 0.8;
}

.links--white {
  color: white;
}

.links--small {
  font-size: 13px;
}

.links--no-decoration {
  text-decoration: none;
}

.links:hover {
  opacity: 0.5;
}

@media screen and (max-width: $phone-mid-size) {
  .links--small {
    display: inline-block;
    padding: 5px 0;
    font-size: 11px;
  }
}

@media screen and (max-width: $phone-small-size) {
  .links--small {
    display: inline-block;
    padding: 5px 0;
    font-size: 12px;
  }
}
