.menu {
  list-style: none;
}

.menu--desktop {
  text-align: right;
}

.menu--desktop .menu__item {
  position: relative;
  display: inline-block;
  color: white;

  line-height: 24px;
  height: 24px;
}

.menu--desktop .menu__item:not(:last-child) {
  margin-right: 40px;
}

.menu__control {
  position: fixed;
  display: none;
  padding: 10px;

  box-shadow: 0px 1px 5px -3px black;

  border-radius: 6px;
  background: white;
  height: 30px;
  width: 30px;
  right: 20px;
  top: 40px;

  cursor: pointer;
  z-index: 5;
}

.menu__control:hover {
  background: #ccc;
}

.menu__control img {
  width: 100%;
}

.menu--mobile {
  position: fixed;
  display: none;
  padding: 90px 0;

  border-left: 1px solid #444;
  transition: right linear .4s;
  box-sizing: border-box;

  background: #111;
  color: black;
  z-index: 6;

  overflow: scroll;

  min-height: 100vh;
  height: 100%;
  width: 350px;
  right: -360px;
  top: 0;
}

.menu--close {
  position: absolute;
  top: 20px;
}

.menu--mobile-showing {
  right: 0;
}

@media screen and (max-width: $laptop-size) {
  .menu--desktop .menu__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .menu--desktop {
    display: none;
  }

  .menu--mobile, .menu__control {
    display: block;
  }

  .menu__item {
    padding: 25px 35px;
    border-bottom: 1px solid #555;
    cursor: pointer;

    &:first-child {
      border-top: 1px solid #555;
    }

    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }
}
@media screen and (max-width: $phone-tiny-size) {
  .menu--mobile {
    width: 320px;
    right: -340px;
  }
}
