
.motifs-preview {
  position: relative;
  display: inline-block;
  font-family: 'HelveticaBold';
}

.motifs-preview__content {
  position: relative;
  display: inline-block;
  letter-spacing: -4px;
  line-height: 94px;
  font-size: 100px;
}

.motifs-preview__letter {
  position: relative;
  display: inline-block;
  height: 72px;
}

.motifs-preview__letter--first {
  padding-bottom: 12px;
  border-bottom: 10px solid white;
  text-indent: -6px;
}

.motifs-preview__letter--opacity50 {
  font-size: 100px;
  opacity: 0.15;
}

.motifs-preview__tm {
  position: absolute;
  display: block;

  letter-spacing: initial;
  line-height: 10px;
  font-size: 11px;

  height: 10px;
  right: -18px;
  top: 10px;
}

.motifs-preview__hint {
  position: absolute;
  display: block;

  font-family: 'HelveticaRegular';
  letter-spacing: initial;
  line-height: initial;
  white-space: nowrap;
  font-size: 21px;

  bottom: -15px;
  right: 0;
}

@media screen and (max-width: $phone-small-size) {
  .motifs-preview__content, .motifs-preview__letter--opacity50 {
    letter-spacing: -3px;
    line-height: 66px;
    font-size: 70px;
  }

  .motifs-preview__letter--first {
    padding-bottom: 0px;
    text-indent: -5px;
  }

}
