.slider__wrapper {
  padding-top: 50px;
  padding-bottom: 178px;
}

.slider {
    position: relative;
    margin: 0 auto;
    max-width: 90%;
    // height: 300px;
    height: auto;
}

.slider__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}

.slider__item iframe {
  box-shadow: none !important;
  border: none !important;
  height: 300px;
  width: 500px;
}

.slider__control-prev, .slider__control-next {
  position: absolute;
  margin-top: -44px;
  padding: 16px;

  font-weight: bold;
  font-size: 12px;
  color: white;

  transition: 0.6s ease;
  cursor: pointer;
  width: auto;
  top: 50%;
}

.slider__control-prev img, .slider__control-next img {
  height: 100%;
  width: 100%;
}

.slider__control-prev {
  border-radius: 0 3px 3px 0;
}

.slider__control-next {
    border-radius: 3px 0 0 3px;
    right: 0;
}

.slider__control-prev:hover,
.slider__control-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slider__item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider__control-msg {
    position: absolute;
    display: none;

    font-family: 'HelveticaRegular';
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-size: 13px;
    color: #aaa;

    pointer-events: none;
    bottom: -51px;
    height: 11px;
    width: 100%;
}

.slider__text {
  font-family: 'HelveticaRegular';
  line-height: 18px;
  font-size: 14px !important;
  color: #f8f8f8;
  width: 60%;
}

@-webkit-keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}
@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

@media screen and (max-width: $laptop-size) {
  .slider__item iframe {
    width: 300px;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .slider {
    width: 100%;
  }

  .slider__control-prev, .slider__control-next {
    margin-top: 0;
    width: 45%;
    top: 100%;
  }

  .slider__control-prev img, .slider__control-next img {
    height: auto;
    width: auto;
  }

  .slider__control-prev {
    text-align: left;
  }

  .slider__control-next {
    text-align: right;
  }

  .slider__control-msg {
    display: block;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .slider__text {
    line-height: 11px;
    width: 100%;
  }
}

@media screen and (max-width: $phone-small-size) {
  .slider__item iframe {
    height: 200px;
    width: 250px;
  }
}
