.underlined-text {
  display: inline-block;
  padding-bottom: 10px;

  white-space: nowrap;
  font-size: 18px;
  color: white;

  border-bottom: 4px solid white;
  min-width: 100px;
  height: 36px;
}

.underlined-text:not(:last-child) {
  margin-right: 30px;
}

.underlined-text__number {
  display: inline-block;
  line-height: 46px;
  font-size: 48px;
  height: 36px;
}

@media screen and (max-width: $desktop-size) {
  .underlined-text:not(:last-child) {
    margin-right: 0;
  }
}
@media screen and (max-width: $laptop-size) {
  .underlined-text {
    margin-top: 20px;
    text-align: right;
    white-space: normal;
    height: auto;
  }
  .underlined-text__number {
    display: block;
    height: 42px;
  }
}

@media screen and (max-width: $phone-tiny-size) {
  .underlined-text {
    margin-top: 10px;
    padding-bottom: 0;
    max-width: 70%;
  }
}
