
$body-color: white;

$desktop-size: 1200px;
$laptop-size: 960px;
$tablet-size: 680px;
$phone-large-size: 600px;
$phone-mid-size: 520px;
$phone-small-size: 420px;
$phone-tiny-size: 375px;

body {
  color: $body-color;
  background: #111;
  font-family: 'HelveticaRegular';
}
