.contacts {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;
}

.contacts__item {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;
  flex-direction: column;

  width: 33.3%;
}

.contacts__item:nth-child(2) {
  justify-content: end;
  align-items: center;
}

.contacts__item:first-child::after,
.contacts__item:last-child::after {
  content: '';
  position: absolute;
  display: block;
  background: white;
  border-radius: 6px;

  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
}

.contacts__links > a {
  display: inline-block;
  margin-top: 10px;
}

.contacts .contacts__logo {
  position: relative;
  margin-top: 140px;
  margin-bottom: 100px;
}

.contacts__copyrights {
  position: relative;
  font-family: 'HelveticaRegular';
  text-align: center;
  line-height: 11px;
  font-size: 13px;
}

@media screen and (max-width: $laptop-size) {
  .contacts .contacts__logo {
    margin-top: 100px;
    margin-bottom: 60px;
  }

  .contacts .contacts__title {
    font-size: 42px;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .contacts .contacts__logo {
    margin-bottom: 70px;
  }
  .contacts__copyrights {
    margin-bottom: 10px;
    line-height: 8px;
    font-size: 11px;
  }
}

@media screen and (max-width: $phone-small-size) {
  .contacts__copyrights {
    margin-bottom: 7px;
    line-height: 8px;
  }
}

@media screen and (max-width: $phone-small-size) {
  .contacts .contacts__logo {
    margin-bottom: 135px;
    margin-top: 170px;
  }
}
@media screen and (max-width: $phone-tiny-size) {
  .contacts__item:not(:last-child) {
    width: 49%;
  }

  .contacts__item:last-child {
    width: 2%;
  }
}
