
.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

.container__content {
  position: relative;
  padding: 0 60px;
}

@media screen and (max-width: $desktop-size) {
  .container {
    width: $laptop-size;
  }
}

@media screen and (max-width: $laptop-size) {
  .container {
    width: $tablet-size;
  }
}

@media screen and (max-width: $tablet-size) {
  .container {
    padding: 0;
    width: 100%;
  }

  .container__content {
    padding: 0;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .container {
    padding-top: 1px;
  }
}
