.header-content {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  background: url('../img/logo_transp.png');
  background-size: 120px;
  background-position: top center;
  background-repeat: no-repeat;

  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30vh;
}

.header-content__left, .header-content__right {
  display: inline-flex;
}

.header-content__left {
  flex-wrap: wrap;
}

.header-content__text {
  position: relative;
  display: inline-block;
  margin-top: 20vh;

  font-family: 'HelveticaLight';
  letter-spacing: -0.25px;
  text-align: right;
  line-height: 18px;
  font-size: 13px;
}

.header-content__text b {
  font-family: 'HelveticaMedium';
}

.header-content__text::after {
  content: '';
  position: absolute;
  display: block;

  background: white;
  height: 4px;
  width: 30px;

  bottom: -60px;
  right: 0;
}

@media screen and (max-width: $desktop-size) {
  .header-content {
    background-position: 52% top;
    background-size: 80px;
  }
  .header-content__right {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media screen and (max-width: $laptop-size) {
  .header-content {
    background-position: right top;
    margin-top: 20vh;
  }
}

@media screen and (max-width: $phone-mid-size) {
  .header-content {
    margin-top: 10vh;
    background: none;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .header-content__text {
    margin-top: 10vh;
  }

  .header-content__text::after {
    background: transparent;
  }
}

@media screen and (max-width: $phone-small-size) {
  .header-content__text {
    font-size: 13px;
  }
  .header-content__text br {
    display: none;
  }
}

@media screen and (max-width: $phone-tiny-size) {
  .header-content {
    margin-top: 10vh;
    background: none;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .header-content__text {
    margin-top: 7vh;
    margin-bottom: 20px;
    line-height: 21px;
    font-size: 16px;
  }

  .header-content__text br {
    display: none;
  }
}
