.partners { }

.partners-list {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  margin: 150px auto 0;
  max-width: 810px;
  width: 80%;
}

.partners-list::before,
.partners-list::after {
  content: '';
  position: absolute;
  display: block;
  height: 15px;
  width: 15px;
}

.partners-list::before {
  border-top: 2px solid black;
  border-left: 2px solid black;
  left: 0;
  top: 0;
}

.partners-list::after {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  bottom: 0;
  right: 0;
}

.partners-list__item {
  display: inline-flex;
  width: 75px;
  padding: 30px;
}

.partners-title {
  color: black;
}

.partners-title__text {
  display: inline-block;
  margin-top: 50px;
  line-height: 20px;
  font-size: 16px;
  width: 50%;
}

.partners-list > a {
  transition: all ease-in .3s;
  cursor: pointer;
}
.partners-list > a:hover {
  transform: scale(1.15);
  opacity: 0.7;
}

@media screen and (max-width: $laptop-size) {
  .partners-title__text {
    margin-top: 30px;
    width: auto;
  }
  .partners-list {
    margin-top: 80px;
  }
}
@media screen and (max-width: $tablet-size) {
  .partners-list {
    margin-top: 50px;
    width: 90%;
  }
}

@media screen and (max-width: $phone-tiny-size) {
  .partners-list {
    width: 100%;
  }
}
