
.section {
  position: relative;
  padding: 60px 0;
  width: 100vw;
}

.section--black {
  background: url('../img/bg_black_circle_left.png');
  background-size: cover;
  padding-bottom: 100px;
}

.section--dark {
  background: #111;
}

.section--black-inverse {
  background: url('../img/flares_black_left.png'), url('../img/bg_black_inverse.png');
  background-position: 100px 300px, top right;
  background-size: 25%, cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
}

.section--clear-black-inverse {
  background: url('../img/bg_black_inverse.png');
  background-position: right;
  background-size: cover;
  padding-bottom: 100px;
}

.section--white {
  background: url('../img/flares_black_right.png'), url('../img/bg_transp_circle_right.png'), url('../img/bg_white_circle_left.png');
  background-color: #f3f3f3;
  background-position: 100% 150%, top right, top left;
  background-size: 25%, cover, 50% 100%;
  background-repeat: no-repeat;
}

.section--clear-white {
  background: url('../img/bg_transp_circle_right.png'), url('../img/bg_white_circle_left.png');
  background-color: #f3f3f3;
  background-position: top right, top left;
  background-size: cover, 50% 100%;
  background-repeat: no-repeat;
}

.section--only-one-round-white {
  background: url('../img/bg_transp_circle_right.png');
  background-color: #f3f3f3;
  background-position: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media screen and (max-width: $tablet-size) {
  .section {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
