.services {
  padding-bottom: 287px;
}

.services-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 80px;
  max-width: 50%;
}

.services-list__item {
  display: inline-block;
  padding: 20px 0;
  font-family: 'HelveticaLight';
  font-size: 24px;
  color: black;
  width: 50%;
}

.services-list__item:nth-child(2n) {
  text-align: right;
}

@media screen and (max-width: $laptop-size) {
  .services-list {
    max-width: 100%;
  }
}

@media screen and (max-width: $phone-tiny-size) {

}
@media screen and (max-width: $phone-tiny-size) {
  .services {
    padding-bottom: 150px;
  }

  .services-list {
    margin-top: 30px;
  }

  .services-list__item {
    font-size: 18px;
  }
}
