.team {
  position: relative;
}

.team-title { }

.team-list {
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
}

.team-list__item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  z-index: 2;
  width: 25%;
}

.team-list__item:nth-child(2n) {
  padding-top: 40px;
}

.team-list__item:nth-child(2n+1)::before {
  content: '';
  position: absolute;
  display: inline-block;
  background: #888;

  height: 250px;
  width: 190%;
  top: 60px;
  left: 10%;

  z-index: -1;
  opacity: .5;
}

.team-list__image img {
  width: 100%;
}

.team-list__text {
  margin-top: 20px;
  font-family: 'HelveticaRegular';
  line-height: 16px;
  font-size: 13px;
  color: black;
}

.team-list__text b {
  font-family: 'HelveticaBold';
}

@media screen and (max-width: $laptop-size) {
  .team-list__item {
    width: 50%;
  }
}

@media screen and (max-width: $phone-small-size) {
  .team-list__item:nth-child(2n+1)::before {
    display: none;
  }

  .team-list__item {
    width: 100%;
  }
}
